repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-yaml
        name: YAML Syntax
    -   id: trailing-whitespace
        name: Fix Trailing Whitespace
    -   id: check-json
        name: JSON Syntax
    -   id: pretty-format-json
        name: JSON Pretty Format
        args:
            - --autofix
    -   id: detect-private-key
    -   id: check-added-large-files
        name: Check Large Files

-   repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
    -   id: black
        name: Python Format (black)
        language_version: python3.9.4

-   repo: https://github.com/asottile/blacken-docs
    rev: v1.10.0
    hooks:
    -   id: blacken-docs
        name: Python Docs Format (black)
        additional_dependencies: [black==20.8b1]

-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.0
    hooks:
    -   id: flake8
        name: Python Style (flake8)
        args:
            - --max-line-length=100

-   repo: 'https://github.com/pre-commit/mirrors-autopep8'
    rev: v1.5.6
    hooks:
      - id: autopep8
        name: 'Python PEP Rules (autopep8)'
        args:
        - --in-place
        - --aggressive
        - --aggressive
        - --experimental
        - --list-fixes

-   repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.8.0
    hooks:
    -   id: isort
        name: Python Import Hierarchy

-   repo: https://github.com/asottile/pyupgrade
    rev: v2.12.0
    hooks:
    -   id: pyupgrade
        name: Python Upgradable Code
