# include license files
include LICENSE

# include config files
bot-config.toml

# include docker files for dev
include Dockerfile
include docker-compose.yaml

# include static files
recursive-include bot/**/static *

# include tests
graft tests

# exclude files containing byte-code and compiled libs
global-exclude *.py[cod]

