include MANIFEST.in
include LICENSE
include bot-config.toml
include pyboss/log-config.toml

# include docker files for dev
include Dockerfile
include docker-compose.yaml

graft docs
graft tests

# exclude files containing byte-code and compiled libs
global-exclude __pycache__
global-exclude *.py[co]

